@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
.body {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}
.h1left {
    font-size: 5rem;
    color: #1ac41a; /* Green color */
    text-align: left; /* Aligns the text to the left */
    background-color: #af4a4a; /* Red color */
    margin-bottom: 20px;
}
.h1right {
    font-size: 5rem;
    color: #af4a4a; /* Red color */
    text-align: right; 
    margin-bottom: 20px;
}
.h1center {
    font-size: 5rem;
    color: #5e0ff0; /* Purple color */              
    text-align: center; /* Center aligns the text */
    margin-bottom: 20px;    
}
.h1leftbg {
    font-size: 5rem;
    color: #1ac41a;   /* Green color */
    text-align: left;   /* Aligns the text to the left */
    background-color: #af4a4a;  /* Red color */
    margin-bottom: 20px;
}
.h1rightbg {
    font-size: 5rem;
    color: #af4a4a; /* Red color */
    text-align: right; 
    background-color: #8a3fec; /* Green color */
    margin-bottom: 20px;
}
.h1centerbg {
    font-size: 5rem;
    color: #5e0ff0; /* Purple color */              
    text-align: center; /* Center aligns the text */
    background-color: #a9da7c; /* Green color */
    margin-bottom: 20px;    
}
.p {
    font-size: 3rem;
    color: #1d3124;
    text-align: center;
    margin-bottom: 20px;
}   